# Byte-compiled / optimized / DLL files
__pycache__/

# Logs
*.log

# Poetry
poetry.lock

# Unit test / coverage reports
.pytest_cache/

# Ruff cache
.ruff_cache/

# pyenv
.python-version

# Environments
.venv

# mkdocs documentation
/site

# mypy
.mypy_cache/
